<%- include("partials/header") %>
  <div class="table-container">
    <h2 class="todo-title">Todo List</h2>
    <div>
      <a class="btn" href="/add-todo">Add Todo</a>
    </div>
    <br />
    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th style="width: 200px;">Action</th>
      </tr>
      <% for(let i= 0; i < todos.length; i++) { %>
        <tr>
          <td><%= todos[i].title %></td>
          <td><%= todos[i].desc %></td>
          <td><%= moment(todos[i].createdAt).format("MMM DD,YYYY,HH:mm:ss")  %></td>
          <td><%= moment(todos[i].updatedAt).format("MMM DD,YYYY,HH:mm:ss")  %></td>
          <td>
            <a class="btn" href="/update-todo?id=<%= todos[i]._id %>">Edit</a>
            <a class="btn" href="/delete-todo?id=<%= todos[i]._id %>">Delete</a>
          </td>
        </tr>
      <% } %>
    </table>
  </div>
<%- include("partials/footer") %>